<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projet_e_commerce">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet_e_commerce">
        <activity
            android:name=".ListeProduitsActivity"
            android:exported="true" />
        <activity
            android:name=".RechercheActivity"
            android:exported="true" />
        <activity
            android:name=".ListeCommandeActivity"
            android:exported="true" />
        <activity
            android:name=".AjoutProduitActivity"
            android:exported="true" />
        <activity
            android:name=".CommercantActivity"
            android:exported="true" />
        <activity
            android:name=".Acceuil"
            android:exported="true" />
        <activity
            android:name=".InscriptionClient"
            android:exported="true" />
        <activity
            android:name=".ConnexionGestionnaireActivity"
            android:exported="true" />
        <activity
            android:name=".ConnexionCommercantActivity"
            android:exported="true" />
        <activity
            android:name=".SupprimerCommercantActivity"
            android:exported="true" />
        <activity
            android:name=".AjouterCommercantActivity"
            android:exported="true" />
        <activity
            android:name=".GestionnaireActivity"
            android:exported="true" />
        <activity
            android:name=".ConnexionClientActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>